

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(110, 9, 9);
}
#noticias {
    display: flex;

    flex-wrap: wrap;
    margin: ;
}
.noticia {
margin: 10px;
border-radius: 5px;
width: 440px;


    background-color: rgb(255, 255, 255);
    color: rgb(70, 4, 4);
    border: 5px solid rgb(0, 0, 0);
}

.img_noticia{
    width: 440px;
}


#icon {
    width: 130px;
}

body {
    background-color: rgb(70, 4, 4);
}

footer { 

    padding: 5px;
    text-align: center;

    background-color: rgb(0, 0, 0);
    color: rgb(70, 4, 4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.jogadores{
margin: 10px;
border-radius: 5px;
width: 500px;


    background-color: rgb(255, 255, 255);
    color: rgb(70, 4, 4);
    border: 5px solid rgb(0, 0, 0);
}

#jogadores {
    display: flex;

    flex-wrap: wrap;

}