

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(122, 18, 18);
}
#noticias {
    display: flex;

    flex-wrap: wrap;
    margin: ;
}
.noticia {
margin: 10px;
border-radius: 5px;
width: 340px;


    background-color: rgb(255, 255, 255);
    color: rgb(70, 4, 4);
    border: 5px solid rgb(0, 0, 0);
}

.img_noticia{
    width: 340px;
}


#icon {
    width: 130px;
}

body {
    background-color: rgb(70, 4, 4);
}

footer { 

    padding: 5px;
    text-align: center;

    background-color: rgb(0, 0, 0);
    color: rgb(100, 23, 23);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    border-radius: px;
}

.jogadores{
margin: 10px;
border-radius: 5px;
width: 500px;


    background-color: rgb(255, 255, 255);
    color: rgb(70, 4, 4);
    border: 5px solid rgb(112, 105, 105);
}

#jogadores {
    display: flex;

    flex-wrap: wrap;

}

.parte_da_escalação {
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
     color: rgb(131, 36, 36);
    align-items: center;
}

.parte_da_escalação h2 {
    text-align: center;
   
} 

.img_escalação {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

#escalação {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}